header {
min-height: 50px;
border-bottom: 1px solid #e5e5e5;
background: #e6e6e6; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e6e6e6 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e6e6e6 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

a.header-logo {
display: block;
border-right: 1px solid #e3e3e3;
float: left;
height: 50px;
}

a.header-logo img {
padding: 2px 20px 0 0;
}

.header-directory-options {
border-left:1px solid #FFFFFF;
float:left;
height:36px;
padding:14px 0 0 20px;
width: 300px;
}

.header-directory-options span {
display: block;
float: left;
font-weight: bold;
}

.dropdown-menu li a {
font-size:14px;
}

span.header-directory-title {
font-size: 12px;
color: #666666;
padding: 1px 0 0 0;
}

span.header-directory-current {
font-size:18px;
color: #0056a2;
padding: 0 0 0 7px;
}

.header-account-functions {
float: right;
border-left: 1px solid #e3e3e3;
}

.header-account-functions ul {
height: 50px;
border-left: 1px solid #ffffff;
padding: 0 0 0 13px;
}

.header-account-functions ul li {
float: left;
font-size:12px;
font-weight: bold;
color: #999999;
padding: 0 0 0 8px;
margin-top: 15px;
}

.header-account-functions ul li span {
border-right:1px solid #cccccc;
padding-right: 8px;
}

.header-account-functions ul li a {
color: #0056a2;
}