.footer-top {
background-image: url(../images/footer/footer-top.jpg);
background-repeat: repeat-x;
min-height: 45px;
text-align: center;
}

	.footer-top p {
	font-family: 'MyriadProBoldCondensedItalic';
	color: #91b6d7;
	font-size:23px;
	padding: 12px 0 0 0;
	}

.footer-middle {
background-image: url(../images/footer/footer-middle.jpg);
background-repeat: repeat-x;
background-color: #333333;
}

	.footer-middle p {
	color: #a3a3a3;
	font-size: 14px;
	padding: 0 0 15px 0;
	line-height: 1.2em;	
	}

	.footer-middle-content-left {
	float: left;
	width: 50%;
	padding: 30px 0 10px;
	}
	
	.footer-middle-right {
	float: right;
	text-align: left;
	padding: 50px 40px 0 0;
	}
	
	.footer-middle-right p, .footer-middle-right p a {
	font-weight: bold;
	color: #cccccc;
	}
	
	.footer-middle-badge {
	padding: 40px 0 0 0;
	margin-left: -30px;
	}

.footer-bottom {
background-color: #191919;
min-height: 50px;
}

	.footer-bottom-social-media {
	padding: 15px 15px 0 0;
	}

	.footer-bottom-social-media img {
	padding: 0 5px 0 0;
	}
	
	.footer-bottom p, .footer-bottom p a {
	color: #737373;
	font-size: 11px;
	padding: 15px 0 0 0;
	}
	
	.footer-bottom p a {
	font-weight: bold;
	}