.clear{
	clera: both;
}

.f-right{
	float: right;
}

.content-wrapper{
	display: block;
	clear: both;
	border-top: solid 1px #fff;
	padding-top: 18px;
}

.header-directory-current .select-wrapper{
	display: block;
	float: left;
	width: 186px;
	overflow: hidden;
	background: url(../images/newsletter/select-drop-down.png);
	background-repeat: no-repeat;
	background-position: 170px 6px;
}

.header-directory-current select{
	border: none;
	outline: none;
	background: transparent;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #0056a2;
	margin: 0 0 10px;
	padding: 0px;
	height: 22px;
	-webkit-appearance: none;
	line-height: 18px;
	width: 210px;
	cursor: pointer;
}

.newsletter-title{
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	color: #0056a2;
	margin: 4px 0px 6px;
}

.news-searchbox{
	width: 95%;
	border: solid 1px #9e9e9e;
	border-radius: 10px;
	display: block;
	clear: both;
	margin: 0 auto;
	-webkit-box-shadow: inset 0px 1px #fff;
	-moz-box-shadow: inset 0px 1px #fff;
	box-shadow: inset 0px 1px #fff;
}

.grey-hard{
	background-color: #e0e0e0;
}

.news-searchbox-inner{
	padding: 1.8% 5%;
	width: 90%;
	min-height: 80px;
}

	.news-searchbox-inner form, .news-searchbox-inner2 form {
		margin: 0px;
	}

.news-searchbox-inner-advance{
	padding: 1.8% 0% .5% 3%;
	width: 93%;
}

.news-searchbox-inner2{
	padding: 1% 5%;
	width: 90%;
	min-height: 0px;
}

.top-search{
	display: block;
	clear: both;
}

	.top-search input[type="text"]{
		font-family: Arial;
		font-size: 16px;
		font-weight: bold;
		color: #666666;
		border: solid 1px #b8b8b8;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: inset 0px 2px 5px #e3e7e9;
		-moz-box-shadow: inset 0px 2px 5px #e3e7e9;
		box-shadow: inset 0px 2px 5px #e3e7e9;
		padding: 1% 2%;
		width: 88%;
		float: left;
		height: auto;
		margin-bottom: 18px;
	}
	
		html.lt-ie9 .top-search input[type="text"]{
			width: 87%;
		}
	
	.top-search input[type="submit"]{
		border: solid 1px #4c6481;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #617694;
		background-image: url(../images/newsletter/search-icon.png);
		background-repeat: no-repeat;
		background-position: center;
		text-indent: -99999px;
		padding: 1% 3.5%;
		-webkit-box-shadow: 0px 0px 5px #a6a6a6;
		-moz-box-shadow: 0px 0px 5px #a6a6a6;
		box-shadow: 0px 0px 5px #a6a6a6;
		margin-left: .5%;
		width: 7%;
	}
	
		.top-search input[type="submit"]:hover{
			background-color: #2f568c;
		}

.bottom-search{
	display: block;
	clear: both;
}

	.bottom-search span{
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
		color: #3d4550;
		float: left;
		margin-right: 19px;
	}
	
		html.lt-ie9 .bottom-search span{
			margin-right: 10px;
		}
	
		.bottom-search span label{
			font-family: Arial;
			font-size: 12px;
			font-weight: bold;
			color: #3d4550;
		}
	
	.bottom-search span input{
		margin: 0px;
		margin-right: 6px;
	}
	
	.bottom-search span.advance-search{
		float: right;
		margin: 0px;
		background: url(../images/newsletter/ad-ar.png);
		background-repeat: no-repeat;
		background-position: 0px 6px;
		padding-left: 10px;
	}
	
		.bottom-search span.advance-search a{
			text-decoration: underline;
		}
	
		.bottom-search span.advance-search a:hover{
			text-decoration: none;
		}
	
	.bottom-search .select-wrap {
		float: left;
		background-color: #FFF;
		background-image: url(../images/newsletter/bottom-search-drop.png);
		background-repeat: no-repeat;
		background-position: right;
		border-radius: 6px;
		overflow: hidden;
		padding-right: 26px;
		margin-top: -5px;
	}
	
	.bottom-search .select-wrap select {
		border: none;
		margin: 0;
		font-size: 12px;
		width: 122%;
		cursor: pointer;
		color: #3d4550;
		outline: none;	
		background: transparent;
		-webkit-appearance:none;	
		padding: 7px 10px 6px;
		line-height: 13px;
}
	
	
.newsletter-form-title-inner{
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	color: #0056a2;
	margin: 10px 0px;
}
	.news-detail{
		padding: 1% 5%;
	}
	
.news-offers{
	display: block;
	clear: both;
	width: 97%;
	margin: 0 auto 30px;
	padding: 38px 0px;
}
	
	.searchbox-items{
		float: left;
		width: 47.7%;
		background-color: #fff;
		border: solid 1px #cccccc;
		border-radius: 10px;
		margin: 0 1% 1%;
	}
	
	.searchbox-items h4{
		font-family: Arial;
		font-size: 16px;
		font-weight: bold;
		color: #3d4550;
		margin: 0px;
		padding: 3% 10%;
	}
	
	.news-bg{
		background-image: url(../images/newsletter/news.png);
		background-repeat: no-repeat;
		background-position: 4% center;
	}

	.hotel-bg{
		background: url(../images/newsletter/hotel.png);
		background-repeat: no-repeat;
		background-position: 4% center;
	}
	
	.p-date{
		border-left: solid 3px #fff;
		border-right: solid 3px #fff;
		font-family: Arial;
		font-size: 14px;
		font-weight: normal;
		font-style: italic;
		color: #526a8c;
		padding: 4px 30px 4px 50px;
	}
	
	.highlite{
		background: #e0e0e0;
	}
	
		.p-date .vol{
			font-family: Arial;
			font-size: 16px;
			font-weight: bold;
			color: #2f568c;
			font-style: normal;
		}
		
		.p-date .right {
			float: right;
		}
		
	.searchbox-items h3{
		font-family: Arial;
		font-size: 16px;
		font-weight: bold;
		color: #3d4550;
		margin: 0px;
		padding: 0% 10%;
		line-height: 34px;
	}
	
		.pin-bg{
			background: url(../images/newsletter/pin.png);
			background-repeat: no-repeat;
			background-position: 20px center;
		}
		
	.searchbox-items ul{
		margin: 0 9%;
		padding: 0px;
	}
	
		.searchbox-items ul li {
			text-indent: -5px;
			padding-left: 5px;	
		}
	
		.searchbox-items ul li:before{
			content:"-"; position:relative; left:-5px;
		}
		
			.searchbox-items ul li a{
				font-family: Arial;
				font-size: 14px;
				font-weight: normal;
				color: #757575;
				text-decoration: underline;
			}
			
				.searchbox-items ul li a:hover{
					color: #6a81a1;
				}
	
	.news-bottom{
		margin: 0% 9%;
		padding: 2.5% 0;
	}
	
		.news-bottom span{
			font-family: Arial;
			font-size: 14px;
			font-weight: bold;
			color: #526a8c;
		}
		
		.news-bottom span.b-archive{
			float: right;
			background: url(../images/newsletter/browse.png);
			background-repeat: no-repeat;
			background-position: 0px 1px;
			padding-left: 30px;
		}

.newsletter-title-inner{
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	color: #0056a2;
	margin: 0px 0px 10px;
	line-height: 30px;
}

.add-menu{
	display: block;
	clear: both;
	width: 90%;
	margin: 2.5% auto;
}

.add-menu span.n-edit{
	float: left;
}

	.add-menu span.n-edit a{
		border: solid 1px #4c6481;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #617694;
		background-image: url(../images/newsletter/edit.png);
		background-repeat: no-repeat;
		background-position: 14% center;
		font-family: Arial;
		font-size: 14px;
		font-weight: normal;
		color: #fff;
		display: inline-block;
		padding: 9px 20px 9px 40px;
		text-decoration: none;
	}
	
		.add-menu span.n-edit a:hover{
			background-color: #2f568c;
		}
		
	.add-menu span.f-right a{
		border: solid 1px #9e9e9e;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #e0e0e0;
		background-image: url(../images/newsletter/back.png);
		background-repeat: no-repeat;
		background-position: 5% center;
		display: inline-block;
		padding: 9px 10px 9px 30px;
		color: #fff;
		font-family: Arial;
		font-size: 14px;
		font-weight: normal;
		color: #3d4550;
		text-decoration: none;
		-webkit-box-shadow: inset 0px 1px #fff;
		-moz-box-shadow: inset 0px 1px #fff;
		box-shadow: inset 0px 1px #fff;
	}
	
		.add-menu span.f-right a:hover{
			background-color: #eee;
		}
		
.content-inner{
	width: 95%;
	display: block;
	margin: 0 auto;
}

	.vol-head{
		display: block;
		clear: both;
		margin-bottom: 8px;
	}
	
	.vol-head span.v-bold{
		font-family: Arial;
		font-size: 18px;
		font-weight: bold;
		color: #2f568c;
		font-style: normal;
		margin-right: 30px;
		margin-left: 30px;
	}
	
	.vol-head span{
		font-family: Arial;
		font-size: 14px;
		font-weight: normal;
		color: #2f568c;
		font-style: italic;
	}
	
.vol-headline{
	display: block;
	clear: both;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background: #6a81a1;
	padding: 4px 30px;
}

.title-box{
	display: block;
	clear: both;
	border-bottom: solid 1px #6a81a1;
	padding: 1.5% 2.5% 2.5%;
}

	.title-box h1{
		font-family: Arial;
		font-size: 48px;
		font-weight: bold;
		color: #2f568c;
		margin: 0px 0px 10px;
	}
	
	.title-box p{
		font-family: Arial;
		font-size: 18px;
		font-weight: normal;
		color: #3d4550;
		margin: 0px 0px 10px;
	}
	
.content-text-inner{
	display: block;
	clear: both;
	padding: 1.5% 2.5% 2.5%;
	margin-bottom: 40px;
}

	.content-text-inner h3{
		font-family: Arial;
		font-size: 24px;
		font-weight: bold;
		color: #2f568c;
	}
	
.title-home-detail{
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	color: #2f568c;
	margin: 0px 2.5% 10px;
	line-height: 20px;
}

.vol-head-home{
	background: #e0e0e0;
	margin: 0px 2.5% 0px;
	padding: .5% 2%;
}

.content-text-inner2{
	display: block;
	clear: both;
	padding: .5% 2.5% 2.5%;
	margin-bottom: 40px;
}

.vol-head-home span.v-bold {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	color: #2f568c;
	font-style: normal;
	margin-right: 30px;
	margin-left: 20px;
}

	.vol-head-home span.f-right {
		font-family: Arial;
		font-size: 164x;
		font-weight: normal;
		color: #526a8c;
		font-style: italic;
	}
	
.search-results-wrapper{
	display: block;
	clear: both;
	width: 95%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 40px;
}

.search-item-news{
	display: block;
	clear: both;
	margin-bottom: 20px;
}

.search-results-left{
	width: 35%;
	float: left;
}

	.search-wrap-widget{
		background-color: #fff;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border: solid 1px #d5d5d5;
	}
	
	.search-results-left h3{
		font-family: Arial;
		font-size: 24px;
		font-weight: bold;
		color: #2f568c;
		margin: 0px 0px 10px;
		text-align: center;
		padding: 0px;
		line-height: 24px;
	}
	
		.widget-block h4{
			font-family: Arial;
			font-size: 16px;
			font-weight: bold;
			color: #3d4550;
			margin: 0px;
			padding: 2% 13%;
			margin-top: 10px;
		}
		
		.widget-block  .news-bg {
			background-image: url(../images/newsletter/news.png);
			background-repeat: no-repeat;
			background-position: 6% center;
		}
		
		.widget-block .p-date {
			background: #e0e0e0;
			border-left: solid 3px #fff;
			border-right: solid 3px #fff;
			font-family: Arial;
			font-size: 14px;
			font-weight: normal;
			font-style: italic;
			color: #526a8c;
			padding: 4px 15px;
		}
		
		.widget-block .p-date .vol {
			font-family: Arial;
			font-size: 16px;
			font-weight: bold;
			color: #2f568c;
			font-style: normal;
			float: left;
		}
		
		.widget-block .p-date .pub {
			float: right;
		}
		
		.widget-block h3 {
			font-family: Arial;
			font-size: 16px;
			font-weight: bold;
			color: #3d4550;
			margin: 0px;
			padding: 1% 13%;
			line-height: 34px;
			text-align: left;
		}
		
		.widget-block .pin-bg {
			background: url(../images/newsletter/pin.png);
			background-repeat: no-repeat;
			background-position: 20px center;
		}
		
		.widget-block  ul {
			margin: 0 7%;
			padding: 0px;
		}
		
			.widget-block ul li {
				text-indent: -5px;
				padding-left: 5px;	
			}
		
			.widget-block ul li:before{
				content:"-"; position:relative; left:-5px;
			}
			
			.widget-block ul li a {
				font-family: Arial;
				font-size: 14px;
				font-weight: normal;
				color: #757575;
				text-decoration: underline;
			}
			
			.widget-block ul li a:hover {
				color: #6a81a1;
			}
			
	.widget-block{
		margin-bottom: 24px;
	}

.search-results-right{
	width: 62%;
	float: left;
	margin-left: 3%;
}

	.pagination-top{
		display: block;
		clear: both;
		margin-bottom: 26px;
	}
	
		.pagination-top span{
			font-family: Arial;
			font-size: 14px;
			color: #526a8c;
			font-weight: bold;
		}
		
		.pagination-top span.f-right a{
			font-family: Arial;
			font-size: 12px;
			color: #526a8c;
			font-weight: normal;
			text-decoration: underline;
		}
		
	.search-item-news h2{
		font-family: Arial;
		font-size: 24px;
		color: #526a8c;
		font-weight: bold;
		line-height: 24px;
		padding-bottom: 12px;
	}
	
		.search-item-news a:hover, .search-item-news a:hover h2{
			color: #3d4550;
			text-decoration: none;
		}
	
.cat-wrapper{
	display: block;
	clear: both;
	margin-bottom: 10px;
}

	.cat-wrapper .cat-w-left{
		float: left;
		font-family: Arial;
		font-size: 16px;
		font-weight: bold;
		color: #3d4550;
		width: 32%;
		overflow: hidden;
		line-height: 27px;
	}
	
	.cat-wrapper .cat-w-right{
		background: #e0e0e0;
		float: right;
		width: 64%;
		padding: .5% 2%;
	}
	
		.cat-wrapper .cat-w-right span,
		.cat-wrapper .cat-w-right a{
			font-family: Arial;
			font-size: 16px;
			font-weight: bold;
			color: #2f568c;
			text-decoration: none;
		}
		
		.cat-wrapper .cat-w-right a:hover {
			border-bottom: 1px solid;	
		}
		
		.cat-wrapper .cat-w-right span.f-right{
			font-family: Arial;
			font-size: 14px;
			font-weight: normal;
			color: #526a8c;
			font-style: italic;
		}
		
	.search-item-news p{
		font-family: Arial;
		font-size: 14px;
		font-weight: normal;
		color: #3d4550;
	}
	
.pagination-bottom{
	display: block;
	clear: both;
	text-align: center;
	padding: 30px 0px;
}

	.pagination-bottom p, .pagination-bottom p a{
		font-family: Arial;
		font-size: 18px;
		font-weight: bold;
		color: #3d4550;
		text-decoration: none;
	}
		
		.pagination-bottom p a.active, .pagination-bottom p a:hover{
			color: #6a81a1;
		}
	
	.pagination-bottom p span{
		font-family: Arial;
		font-size: 14px;
		font-weight: normal;
		color: #3d4550;
		font-style: italic;
	}
	
.news-searchbox-inner-advance h3{
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	color: #3d4550;
}

.news-searchbox-inner-advance h3 span{
	font-family: Arial;
	font-size: 12px;
	color: #3d4550;
	font-weight: normal;
	font-style: italic;
}

.col-wrap{
	display: block;
	clear: both;
}

.news-searchbox-inner-advance .top-search input[type="text"]:focus, .news-searchbox-inner-advance .top-search input[type="text"]:active{
	background: #fff!important;
}

.news-searchbox-inner-advance .top-search input[type="text"]{
	width: 95%;
	padding: 2% 2%;
	background-color: #fff;
	background-image: url(../images/newsletter/search-icon-grey.png);
	background-repeat: no-repeat;
	background-position: 3% center;
	outline: none;
}

	.news-searchbox-inner-advance .s1{
		float: left;
		width: 19%;
		font-family: Arial;
		font-weight: normal;
		font-size: 16px;
		color: #3d4550;
		margin-right: 1%;
		text-align: right;
		padding: 10px 0px;
	}
	
	.news-searchbox-inner-advance .s2{
		float: left;
		width: 50%;
		margin-right: 1%;
	}
	
	.news-searchbox-inner-advance .s3{
		float: left;
		width: 28%;
	}
	
	.select-wrapper2 {
			background: #fff url(../images/newsletter/search-drop.png);
			background-repeat: no-repeat;
			background-position: 95% center;
			width: 100%;
			height: 41px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			overflow: hidden;
			border: solid 1px #b8b8b8;
		}
		
		.news-searchbox-inner-advance .s3 select{
			font-family: Arial;
			font-size: 14px;
			font-weight: normal;
			color: #666666;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border: none;
			-webkit-box-shadow: inset 0px 2px 5px #e3e7e9;
			-moz-box-shadow: inset 0px 2px 5px #e3e7e9;
			box-shadow: inset 0px 2px 5px #e3e7e9;
			padding: 4% 3%;
			width: 100%;
			height: auto;
			float: left;
			height: 42px;
			outline: none;
			width: 310px;
			background: transparent;
			cursor: pointer;
			vertical-align: middle;
		}
		
		.news-searchbox-inner-advance .bottom-search span {
			font-family: Arial;
			font-size: 12px;
			font-weight: normal;
			color: #3d4550;
			float: left;
			margin-right: 19px;
		}
		
			html.lt-ie9 .news-searchbox-inner-advance .bottom-search span {
				margin-right: 4px;
			}
		
			.news-searchbox-inner-advance .bottom-search span.last {
				margin-right: 0px;
			}
		
		.bottom-search span.label{
			font-family: Arial;
			font-weight: bold!important;
			font-size: 20px;
			color: #3d4550;
			background: none;
			width: 19%;
			text-align: right;
		}
		
		.news-searchbox-inner-advance .bottom-search{
			margin-bottom: 20px;
		}
		
		.news-searchbox-inner-advance p.submit{
			text-align: center;
		}
		
		.news-searchbox-inner-advance input[type="submit"]{
			border: solid 1px #4c6481;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-color: #617694;
			background-image: url(../images/newsletter/search-icon.png);
			background-repeat: no-repeat;
			background-position: 20% center;
			padding: 1% 7.5%;
			-webkit-box-shadow: 0px 0px 5px #a6a6a6;
			-moz-box-shadow: 0px 0px 5px #a6a6a6;
			box-shadow: 0px 0px 5px #a6a6a6;
			margin-left: .5%;
			font-family: Arial;
			font-weight: bold;
			font-size: 20px;
			color: #ffffff;
		}
		
		.news-searchbox-inner-advance input[type="submit"]:hover {
			background-color: #2f568c;
		}
		
		.publish-block{
			display: block;
			clear: both;
			margin-bottom: 20px;
			padding-top: 10px;
			padding-left: 40px;
		}
		
			.publish-block input[type="text"]{
				width: 164px;
				padding: 6%;
				background: #fff url(../images/newsletter/calendar.png);
				background-repeat: no-repeat;
				background-position: right center;
				outline: none;
				height: 17px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				border: solid 1px #b8b8b8;
				font-family: Arial;
				font-size: 16px;
				font-weight: bold;
				color: #666666;
			}
		
		.news-searchbox-advance{
			margin-bottom: 100px;
		}
		
		.publish-block span{
			display: inline-block;
			margin: 0px 10px;
		}
		
bdi.num {
	text-decoration: underline;
	font-size: 12px;
	position: relative;
	top: -2px;	
	font-family: "Arial Black";
}