.back_to_results {
margin: 50px 0 0 0;
}

.width75percent {
width: 75%;
}

.span9.detail_column {
margin-left:0;
width:76.5%;
background-image: url(../images/detail/columnRBG.jpg);
background-repeat: repeat-y;
background-color: white;
}

.detail_column_header_gradient {
height: 45px;
border-bottom:1px solid #bebebe;
background: #eeeeee; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #eeeeee 0%, #d1d1d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#d1d1d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#d1d1d1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#d1d1d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-8 */
}

.detail_column_padding {
padding: 10px 30px 20px;
}

.detail_column, .detail_column p {
font-size:11px;
line-height: 1.3em;
}

.detail_column_locations {
float: left;
width:25%;
padding: 0 0 20px 0;
}

.detail_column_locations_count {
    border-left:1px solid #CCCCCC;
    margin:10px 0 0;
    padding:5px 0 5px 20px;
}

.detail_column_name {
border-top: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
padding: 8px 0 0 0;
}

.detail_column_business, .detail_column_property, .detail_column_growth {
float:left;
padding:10px 0;
width:31.33%;
}

.detail_column_property {
width: 38.33%;
}

.detail_column_growth {
width: 27.33%;
}

.detail_column_business, .detail_column_property {
border-right:1px solid #CCCCCC;
min-height:45px;
margin: 0px;    
}

.table-details-custom {
border-bottom:1px solid #DDDDDD;
}